[submodule "cpp/lib/json"]
	path = cpp/lib/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp/lib/civetweb"]
	path = cpp/lib/civetweb
	url = https://github.com/civetweb/civetweb.git
[submodule "platforms/esp32/components/cjson"]
	path = platforms/esp32/components/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "tools/esp32-compile-check/components/M5Unified"]
	path = tools/esp32-compile-check/components/M5Unified
	url = https://github.com/m5stack/M5Unified.git
